[Desktop Entry]
Version=1.0
Type=Application
Name=Touchpad Indicator
Name[en_US]=Touchpad Indicator
Name[pt_BR]=Indicador do touchpad
Comment=Displays information about the state of your device's touchpad.
Comment[en_US]=Displays information about the state of your device's touchpad.
Comment[pt_BR]=Exibe informações sobre o estado do touchpad do seu dispositivo.
Exec=/usr/local/bin/touchpad_control.sh
Icon=/usr/share/icons/extras/touchpad-indicator.png
Path=
Categories=System;
Terminal=false
StartupNotify=false

Keywords[pt_BR]=touchpad;status;monitore;indicator;indicador;

